
    <h4
    style="text-align: center;"> BOOKINGS

    </h4>


<table class="table table-striped">
  <thead>
      <tr>
      <th scope="col">id</th>
      <th scope="col">User</th>
      <th scope="col">Room</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @bookings.each do |booking| %>
      <tr>
        <th scope="row"><%= booking.id %></th>
        <td><%= booking.user.name %></td>
        <td><%= booking.room_id %></td>
        <td><%= booking.start_date.strftime("%B %d, %Y %H:%M") %></td>
        <td><%= booking.end_date.strftime("%B %d, %Y %H:%M") %></td>
        <td><%= link_to "View", booking_path(booking),class:"btn btn-primary" %></td>
        <td><%= link_to "Update", edit_room_path(booking),class:"btn btn-info" %></td>
        <td><%= button_to "Delete", booking_path(booking), method: :delete,class:"btn btn-danger" %></td>
      </tr>
    <% end %>

  </tbody>
</table>