<h4></h4>
    CREATE BOOKING
</h4>
<%= form_with url: bookings_path, method: :post do |form| %>
    <div class="mb-3">
        <%= form.label :user_id, "User", class: "form-label" %>
        <%= form.select "booking[user_id]", User.all.map { |user| [user.name.capitalize, user.id] }, { prompt: "Selecciona un usuario" }, required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :room_number, "Room number", class: "form-label" %>
    <%# Aquí es donde se agregan las opciones para el select %>
    <%= form.select "booking[room_id]", Room.all.map { |room| [ "#{room.room_number} - #{room.hotel.name}", room.id] }, { prompt: "Selecciona una habitacion" }, required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :start_date, "Check-in date", class: "form-label"%>
        <%= form.date_field "booking[start_date]", class: "form-control", required: true %>

    </div>
    <div class="mb-3">
        <%= form.label :end_date, "Checkout date", class: "form-label"%>
        <%= form.date_field "booking[end_date]", class: "form-control", required: true %>

    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
