<h4><%= @booking.room_id %></h4>

<p>User: <%= @booking.user.name %></p>
<p>Room number: <%= @booking.room_id %></p>
<p>start date: <%= @booking.start_date %></p>
<p>end date: <%= @booking.end_date %></p>