<h4>
    CREATE USER
</h4>
<%= form_with url: users_path, method: :post do |form| %>
    <div class="mb-3">
        <%= form.label :name, "Name", class: "form-label" %>
        <%= form.text_field "user[name]", required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :phone, "Phone", class: "form-label" %>
        <%= form.text_field "user[phone]", required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :email, "Email", class: "form-label" %>
        <%= form.email_field "user[email]", required: true, class: "form-control" %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
