
    <h4
    style="text-align: center;"> HOTELS

    </h4>


<table class="table table-striped">
  <thead>
      <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Rating</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @hotels.each do |hotel| %>
      <tr>
        <th scope="row"><%= hotel.id %></th>
        <td><%= hotel.name.capitalize %></td>
        <td><%= hotel.address.capitalize %></td>
        <td><%= hotel.rating %></td>
        <td><%= link_to "View", hotel_path(hotel),class:"btn btn-primary" %></td>
        <td><%= link_to "Update", edit_hotel_path(hotel),class:"btn btn-info" %></td>
        <td><%= button_to "Delete", hotel_path(hotel), method: :delete,data: { confirm: "Are you sure want to delete this hotel?"},class:"btn btn-danger" %></td>
      </tr>
    <% end %>

  </tbody>
</table>