<h4>
    CREATE HOTEL
</h4>
<%= form_with url: hotels_path, method: :post do |form| %>
    <div class="mb-3">
        <%= form.label :name, "Name", class: "form-label" %>
        <%= form.text_field "hotel[name]", required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :address, "Address", class: "form-label" %>
        <%= form.text_field "hotel[address]", required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :rating, "Rating", class: "form-label" %>
        <%= form.number_field "hotel[rating]", required: true, class: "form-control" %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
